
div.line{ 
width:30%;
padding:2px;
background:#F0E68C; 
float:left; 
margin-left:15px; 
text-align:center;
}

div.linemeny{ 
padding:2px;
width:30%; 
background:#FFFACD; 
float:left; 
margin-left:15px; 
text-align:left;
}

div.cage{
visibility:hidden;
width:100%;
height:1px;
clear:both;
}
